<div class="container">
        <h3 class="text-center display-4 text-white">New Artist</h3>
    
        <button onclick="history.back()" class="btn btn-primary col-3 mb-3"> Back </button>
    
        <% @artist.errors.full_messages.each do |error| %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% end %>
    
        <%= form_for @artist do |f| %>
        <div class="card text-white bg-secondary list-group-item text-center">
            <div class=" input-group mb-2 col-6 mx-auto">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="width:120px">Name</label>
                </div>
                <%= f.text_field 'name', class:"form-control" %></p>
            </div>
    
            <div class="col-6 mx-auto">
                <%= f.submit "Save changes", class:"btn btn-primary mt-1 input-group" %>
            </div>
        </div>
        <% end %>
    </div>